---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 19.10.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    credentials:
      minio:
          type: s3
          url: "http://${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-grafana"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
    
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                GF_SERVER_ROOT_URL: https://grafana.${DOMAIN_0}
                GF_AUTH_GENERIC_OAUTH_ENABLED: true
                GF_AUTH_GENERIC_OAUTH_NAME: Authelia
                GF_AUTH_GENERIC_OAUTH_ICON: signin
                GF_AUTH_GENERIC_OAUTH_CLIENT_ID: 'grafana'
                GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "${AUTHELIA_CLIENT_GRAFANA_SECRET}"
                GF_AUTH_GENERIC_OAUTH_SCOPES: openid profile email groups
                GF_AUTH_GENERIC_OAUTH_EMPTY_SCOPES: false
                GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://auth.${DOMAIN_0}/api/oidc/authorization
                GF_AUTH_GENERIC_OAUTH_TOKEN_URL: https://auth.${DOMAIN_0}/api/oidc/token
                GF_AUTH_GENERIC_OAUTH_API_URL: https://auth.${DOMAIN_0}/api/oidc/userinfo
                GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH: preferred_username
                GF_AUTH_GENERIC_OAUTH_GROUPS_ATTRIBUTE_PATH: groups
                GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH: name
                GF_AUTH_GENERIC_OAUTH_USE_PKCE: true
                GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: 'contains(groups[*], "grafana_admin") && "Admin" || contains(groups[*], "grafana_editor") && "Editor" || contains(groups[*], "grafana_viewer") && "Viewer"'
    
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: grafana.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            # auth:
            #   type: "authelia"
            #   internalHost: "authelia.authelia.svc.cluster.local:9091"
            #   externalHost: "auth.${DOMAIN_0}"
          homepage:
            enabled: true
            group: "Administration"
            widget:
              enabled: false
              # type: "grafana"
              # url: "http://grafana.grafana.svc.cluster.local:3000"
              # customkv:
              #   - key: username
              #     value: ${GRAFANA_ADMIN_USER}
              #   - key: password
              #     value: ${GRAFANA_ADMIN_PASSWORD}
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    
    persistence:
      data:
        volsync:
          - name: data
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
    
    cnpg:
      main:
        mode: recovery
        cluster:
          singleNode: true
        backups:
          enabled: true
          credentials: minio
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: minio