apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-configfile
  namespace: authelia-dev
data:
  configuration.yaml: |
    server:
      buffers:
        read: 16384
        write: 16384
    theme: auto
    totp:
      issuer: ${DOMAIN_0}
    regulation:
      find_time: 10m
      ban_time: 12h
    session:
      cookies:
        - domain: ${DOMAIN_0}
          authelia_url: https://auth.${DOMAIN_0}
          default_redirection_url: 'https://www.${DOMAIN_0}'
    authentication_backend:
      # lldap setup
      # https://github.com/lldap/lldap/blob/main/example_configs/authelia_config.yml
      ldap:
        implementation: lldap
        address: ldap://lldap-ldap.lldap.svc.cluster.local:3890
        base_dn: dc=${DN},dc=${DC}
        user: uid=manager,ou=people,dc=${DN},dc=${DC}
        additional_users_dn: ou=people
        users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
        groups_filter: (member={dn})
        additional_groups_dn: ou=groups
        password: ${LLDAP_PASSWORD}
    notifier:
      smtp:
        address: smtp://${SMTP_HOST}:587
        username: ${SMTP_USER}
        password: ${SMTP_PASSWORD}
        sender: Authelia Admin <no-reply@${DOMAIN}>
        tls:
          server_name: ${SMTP_HOST}
    password_policy:
      standard:
        enabled: true
        min_length: 10
        max_length: 0
        require_uppercase: true
        require_lowercase: true
        require_number: true
        require_special: true
    access_control:
      default_policy: 'deny'
      rules:
        - domain:
            - ${DOMAIN_0}
            - '*.${DOMAIN_0}'
          policy: one_factor
          subject: 'group:lldap_admin'
        - domain:
            - "media.${DOMAIN_0}"
          policy: one_factor
          subject: 'group:lldap_arr'
        - domain:
            - "nextcloud.${DOMAIN_0}"
          policy: one_factor
          subject: 'group:lldap_nextcloud'
    identity_providers:
      oidc:
        hmac_secret: {{ secret "/config/secret/hmac_secret" }}
        jwks:
          - key: |
              {{ secret "/config/secret/jwks_key.pem" | mindent 10 "|" | msquote }}
        authorization_policies:
          apps:
            default_policy: 'deny'
            rules:
              - policy: 'one_factor'
                subject: 'group:apps'
