---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spotweb
  namespace: spotweb

spec:
  interval: 15m
  chart:
    spec:
      chart: spotweb
      version: 15.13.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false
    credentials:
      minio:
        type: s3
        url: "http://${S3_URL_MINIO}"
        bucket: "${S3_BUCKET}-spotweb"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"
    ingress:
      main:
        ingressClassName: internal
        enabled: true
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Collaboration"
            widget:
              enabled: false
        hosts:
          - host: spotweb.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    cnpg:
      main:
        enabled: true
        user: {$SPOTWEB_DB_USER}
        database: ${SPOTWEB_DB}
        cluster:
          singleNode: true
          instances: 1
        # mode: recovery
        backups:
          enabled: true
          credentials: minio
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: minio


    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                # SPOTWEB_SYSTEMTYPE: "single"
                SPOTWEB_FIRSTNAME: ${SPOTWEB_FIRSTNAME}
                SPOTWEB_LASTNAME: ${SPOTWEB_LASTNAME}
                SPOTWEB_MAIL: ${SPOTWEB_MAIL}
                # SPOTWEB_RETRIEVE: "15min"
                # DB_ENGINE: "pdo_pgsql"
                # DB_PORT: "5432"
                DB_DATABASE: ${SPOTWEB_DB}
                # DB_USER: {$SPOTWEB_DB_USER}
                # DB_SCHEMA: "public"
                # DB_PASSWORD: ${SPOTWEB_DB_PASSWORD}
                SPOTWEB_USERNAME: ${SPOTWEB_USERNAME}
                SPOTWEB_PASSWORD: ${SPOTWEB_PASSWORD}