apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  interval: 5m
  chart:
    spec:
      chart: nextcloud
      version: 38.9.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  timeout: 20m
  values:
    global:
      stopAll: false
    credentials:
      minio:
        type: s3
        url: "http://${S3_URL_MINIO}"
        bucket: "${S3_BUCKET}-nextcloud"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Collaboration"
            widget:
              enabled: false
        hosts:
          - host: nextcloud1.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
      admin:
        enabled: true
        ingressClassName: external
        targetSelector:
          collabora: collabora
        integrations:
          nginx:
            enabled: true
            ipWhitelist: ["${IP_WHITELIST}"]
            auth:
                type: "authelia"
                internalHost: "authelia.authelia.svc.cluster.local:9091"
                externalHost: "auth.${DOMAIN_0}"
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: nextcloud1.${DOMAIN_0}
            paths:
              - path: /collabora/browser/dist/admin
                pathType: Prefix
    cnpg:
      main:
        cluster:
          singleNode: true
        mode: recovery
        backups:
          enabled: true
          credentials: minio
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: minio
    persistence:
      config:
        volsync:
        - name: config
          type: restic
          credentials: minio
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 10 1 * * *
      data:
        enabled: true
        type: nfs
        server: ${NAS_IP}
        path: ${NEXTCLOUD_NFS}
      html:
        volsync:
        - name: html
          type: restic
          credentials: minio
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 20 1 * * *
    nextcloud:
      collabora:
        enabled: true
        dictionaries:
          - en_GB
          - en_US
      credentials:
        initialAdminPassword: "${NEXTCLOUD_PASSWORD}"
        initialAdminUser: "${NEXTCLOUD_USER}"
      general:
        accessIP: ${NGINX_EXTERNAL_IP}
        default_phone_region: AU
      previews:
        providers:
        - BMP
        - GIF
        - JPEG
        - Krita
        - MarkDown
        - MP3
        - OpenDocument
        - PNG
        - TXT
        - XBitmap
