apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: sabnzbd
      version: 23.2.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    # portal:
    #   open:
    #     enabled: false
    global:
      stopAll: false
    credentials:
      minio:
        type: s3
        url: "http://${S3_URL_MINIO}"
        bucket: "${S3_BUCKET}-sabnzbd"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: sabd.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "auth.${DOMAIN_0}"
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Downloaders"
            widget:
              custom:
                url: http://sabnzbd.media.svc.cluster.local:10097
                key: "${SAB_KEY}"
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                SABNZBD__HOST_WHITELIST_ENTRIES: "sabd.${DOMAIN_0}, sabnzbd.media.svc.cluster.local"
                SABNZBD__PORT: "{{ .Values.service.main.ports.main.port }}"
    persistence:
      config:
        volsync:
        - name: config
          type: restic
          credentials: minio
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 40 0 * * *
      media:
        enabled: true
        existingClaim: media-nfs-pvc
        mountPath: /media
    
    resources:
      limits:
        cpu: 3000m
        memory: 8Gi
    