apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: sabnzbd
      version: 23.0.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    global:
      stopAll: false
    credentials:
      minio:
        type: s3
        url: "http://${S3_URL_MINIO}"
        bucket: "${S3_BUCKET}-sabnzbd"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: sabnzbd1.${DOMAIN_0}
        integrations:
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "auth.${DOMAIN_0}"
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Downloaders"
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                SABNZBD__HOST_WHITELIST_ENTRIES: sabnzbd1.${DOMAIN_0},sabnzbd.media.svc.cluster.local
    persistence:
      config:
        volsync:
        - name: config
          type: restic
          credentials: minio
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 40 0 * * *
      media:
        enabled: true
        existingClaim: media-nfs-pvc
        mountPath: /Media
    
    resources:
      limits:
        cpu: 4000m
        memory: 8Gi
