---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich
spec:
  interval: 15m
  chart:
    spec:
      chart: immich
      version: 25.11.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false

    credentials:
      minio:
        type: s3
        url: "http://${S3_URL_MINIO}"
        bucket: "${S3_BUCKET}-immich"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"

    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: immich.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          traefik:
            enabled: false
          homepage:
            enabled: true
            group: "Collaboration"
            widget:
              enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod

    cnpg:
      main:
        cluster:
          singleNode: true
          instances: 1
        mode: recovery
        backups:
          enabled: true
          credentials: minio
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: minio

    persistence:
      library:
        type: nfs
        server: ${NAS_IP}
        path: ${IMMICH_NFS}/library
      uploads:
        type: nfs
        server: ${NAS_IP}
        path: ${IMMICH_NFS}/uploads
      backups:
        type: nfs
        server: ${NAS_IP}
        path: ${IMMICH_NFS}/backups
      thumbs:
        type: nfs
        server: ${NAS_IP}
        path: ${IMMICH_NFS}/thumbs
      profile:
        type: nfs
        server: ${NAS_IP}
        path: ${IMMICH_NFS}/profile
      video:
        type: nfs
        server: ${NAS_IP}
        path: ${IMMICH_NFS}/encoded-video


        
       