apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-configfile
  namespace: authelia
data:
  configuration.yaml: |
    server:
      buffers:
        read: 16384
        write: 16384
    theme: auto
    totp:
      issuer: ${DOMAIN_0}
    regulation:
      find_time: 10m
      ban_time: 12h
    session:
      cookies:
        - domain: ${DOMAIN_0}
          authelia_url: https://auth.${DOMAIN_0}
          default_redirection_url: 'https://www.${DOMAIN_0}'
    authentication_backend:
      # lldap setup
      # https://github.com/lldap/lldap/blob/main/example_configs/authelia_config.yml
      ldap:
        implementation: lldap
        tls:
          server_name: lldap.${DOMAIN_0}
        attributes:
          username: uid
        address: ldap://lldap-ldap.lldap.svc.cluster.local:3890
        base_dn: dc=${DN},dc=${DC}
        user: uid=admin,ou=people,dc=${DN},dc=${DC}
        additional_users_dn: ou=people
        users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
        groups_filter: (member={dn})
        additional_groups_dn: ou=groups
        password: ${LLDAP_PASSWORD}
    notifier:
      smtp:
        address: smtp://${SMTP_HOST}:587
        username: ${SMTP_USER}
        password: ${SMTP_PASSWORD}
        sender: Authelia Admin <no-reply@${DOMAIN_0}>
        tls:
          server_name: ${SMTP_HOST}
    password_policy:
      standard:
        enabled: true
        min_length: 10
        max_length: 0
        require_uppercase: true
        require_lowercase: true
        require_number: true
        require_special: true
    access_control:
      default_policy: 'deny'
      rules:
        - domain:
            - ${DOMAIN_0}
            - '*.${DOMAIN_0}'
          policy: one_factor
          subject: 'group:admin'
        - domain:
            - "media.${DOMAIN_0}"
          policy: one_factor
          subject: 'group:arr'
        - domain:
            - "nextcloud.${DOMAIN_0}"
          policy: one_factor
          subject: 'group:nextcloud'
        - domain:
            - "grafana.${DOMAIN_0}"
          policy: one_factor
          subject: 'group:grafana'
    identity_providers:
      oidc:
        claims_policies:
          grafana:
            id_token: ['email', 'name', 'groups', 'preferred_username']
        hmac_secret: {{ secret "/config/secret/hmac_secret" }}
        jwks:
          - key: |
              {{ secret "/config/secret/jwks_key.pem" | mindent 10 "|" | msquote }}
        authorization_policies:
          apps:
            default_policy: 'deny'
            rules:
              - policy: 'one_factor'
                subject: 'group:apps'
          grafana:
            default_policy: 'deny'
            rules:
              - policy: 'one_factor'
                subject: 'group:admin'
              - policy: 'one_factor'
                subject: 'group:grafana_admin'
              - policy: 'one_factor'
                subject: 'group:grafana_editor'
              - policy: 'one_factor'
                subject: 'group:grafana_viewer'  
        clients:
          - client_id: 'grafana'
            client_name: 'Grafana'
            claims_policy: 'grafana'
            client_secret: {{ secret "/config/secret/clients_grafana_client_secret" }}
            public: false
            authorization_policy: 'grafana'
            require_pkce: true
            pkce_challenge_method: 'S256'
            redirect_uris:
              - 'https://grafana.${DOMAIN_0}/login/generic_oauth'
            scopes:
              - 'openid'
              - 'profile'
              - 'groups'
              - 'email'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'InHeader'

