---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authelia
  namespace: authelia
spec:
  interval: 15m
  chart:
    spec:
      chart: authelia
      version: 29.23.11
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:
      minio:
          type: s3
          url: "http://${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-authelia"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 9091
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Security"
            widget:
              enabled: false
        hosts:
          - host: auth.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix

    cnpg:
      main:
        mode: recovery
        cluster:
          singleNode: true
        backups:
          enabled: true
          credentials: minio
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: minio
          
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 10 0 * * *
      secrets:
        enabled: true
        type: secret
        objectName: authelia-oidc-secret
        expandObjectName: false
        mountPath: /config/secret
        readOnly: true
    
    workload:
      main:
        replicas: 1
        podSpec:
          containers:
            main:
              env:
                AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_KEY}
                AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${AUTHELIA_JWT_KEY}
                AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_ENCRYPTION_KEY}
                X_AUTHELIA_CONFIG_FILTERS: template
                AUTHELIA_LOG_LEVEL: info
                AUTHELIA_SERVER_BUFFERS_READ: 16384
                AUTHELIA_SERVER_BUFFERS_WRITE: 16384
                AUTHELIA_THEME: auto
                AUTHELIA_TOTP_ISSUER: ${DOMAIN_0}
                # AUTHELIA_AUTHENTICATION_BACKEND_LDAP_ADDRESS: ldap://lldap-ldap.lldap.svc.cluster.local:3890
                # AUTHELIA_AUTHENTICATION_BACKEND_LDAP_TLS_SERVER_NAME: lldap.${DOMAIN_0}
                # AUTHELIA_AUTHENTICATION_BACKEND_LDAP_BASE_DN: dc=${DN},dc=${DC}
                # AUTHELIA_AUTHENTICATION_BACKEND_LDAP_ATTRIBUTES_USERNAME: uid
                # AUTHELIA_AUTHENTICATION_BACKEND_LDAP_ADDITIONAL_USERS_DN: ou=people
                # AUTHELIA_AUTHENTICATION_BACKEND_LDAP_USERS_FILTER: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
                # AUTHELIA_AUTHENTICATION_BACKEND_LDAP_ADDITIONAL_GROUPS_DN: ou=groups
                # AUTHELIA_AUTHENTICATION_BACKEND_LDAP_GROUPS_FILTER: (member={dn})
                # AUTHELIA_AUTHENTICATION_BACKEND_LDAP_USER: uid=admin,ou=people,dc=${DN},dc=${DC}
                # AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD: ${LLDAP_PASSWORD}
                AUTHELIA_NOTIFIER_SMTP_ADDRESS: 'smtp://${SMTP_HOST}:587'
                AUTHELIA_NOTIFIER_SMTP_USERNAME: ${SMTP_USER}
                AUTHELIA_NOTIFIER_SMTP_PASSWORD: ${SMTP_PASSWORD}
                AUTHELIA_NOTIFIER_SMTP_SENDER: Authelia Admin <no-reply@${DOMAIN_0}>
                AUTHELIA_NOTIFIER_SMTP_STARTUP_CHECK_ADDRESS: auth@${DOMAIN_0}
                AUTHELIA_NOTIFIER_SMTP_DISABLE_HTML_EMAILS: true
                AUTHELIA_NOTIFIER_SMTP_TLS_SERVER_NAME: ${SMTP_HOST}
    authelia:
      regulation:
        find_time: 10m
        ban_time: 12h
      session:
        cookies:
          - domain: ${DOMAIN_0}
            authelia_url: https://auth.${DOMAIN_0}
            default_redirection_url: 'https://www.${DOMAIN_0}'
      authentication_backend:
        ldap:
          address: ldap://lldap-ldap.lldap.svc.cluster.local:3890
          tls:
            server_name: lldap.${DOMAIN_0}
          base_dn: dc=${DN},dc=${DC}
          attributes:
            username: uid
            extra:
              immichquota:
                name: immich_quota
                multi_valued: false
                value_type: integer
          additional_users_dn: ou=people
          users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
          additional_groups_dn: ou=groups
          groups_filter: (member={dn})
          user: uid=admin,ou=people,dc=${DN},dc=${DC}
          password: ${LLDAP_PASSWORD}
      password_policy:
        standard:
          enabled: true
          min_length: 10
          max_length: 0
          require_uppercase: true
          require_lowercase: true
          require_number: true
          require_special: true
      access_control:
        rules:
          - domain:
              - ${DOMAIN_0}
              - '*.${DOMAIN_0}'
              - 'recyclarr.${DOMAIN_0}'
              - 'homepage.code.${DOMAIN_0}'
            policy: one_factor
            subject: 
              - 'group:admin'
          - domain:
              - 'anime.${DOMAIN_0}'
              - 'lidarr.${DOMAIN_0}'
              - 'media.${DOMAIN_0}'
              - 'prowlarr.${DOMAIN_0}'
              - 'radarr.${DOMAIN_0}'
              - 'sabnzbd.${DOMAIN_0}'
              - 'sonarr.${DOMAIN_0}'
            policy: one_factor
            subject: 
              - 'group:media'
      identity_providers:
        oidc:
          claims_policies:
            romm:
              id_token: ['email', 'email_verified', 'alt_emails', 'preferred_username', 'name']
            grafana:
              id_token: ['email', 'name', 'groups', 'preferred_username']
            vaultwarden:
              id_token: ['email', 'groups', 'profile'] 
            immich:
              custom_claims:
                immich_quota: 
                  attribute: immich_quota
          hmac_secret: '{{ secret "/config/secret/hmac_secret" }}'
          jwks:
            - key: |
                {{- secret "/config/secret/jwks_key.pem" | nindent 8  }}
          enable_client_debug_messages: true
          authorization_policies:
            grafana:
              default_policy: 'deny'
              rules:
                - policy: 'one_factor'
                  subject: 'group:admin'
                - policy: 'one_factor'
                  subject: 'group:grafana_admin'
                - policy: 'one_factor'
                  subject: 'group:grafana_editor'
                - policy: 'one_factor'
                  subject: 'group:grafana_viewer'
            romm:
              default_policy: 'deny'
              rules:
                - policy: 'one_factor'
                  subject: 'group:admin'
                - policy: 'one_factor'
                  subject: 'group:romm'
            vaultwarden:
              default_policy: 'deny'
              rules:
                - policy: 'one_factor'
                  subject: 'group:admin'
                - policy: 'one_factor'
                  subject: 'group:vaultwarden'
            nextcloud:
              default_policy: 'deny'
              rules:
                - policy: 'two_factor'
                  subject: 'group:nextcloud'
                - policy: 'two_factor'
                  subject: 'group:nextcloud_admin'
            immich:
              default_policy: 'deny'
              rules:
                - policy: 'one_factor'
                  subject: 'group:immich'

          clients:
            - client_id: 'grafana'
              client_name: 'Grafana'
              claims_policy: 'grafana'
              client_secret: '{{ secret "/config/secret/clients_grafana_client_secret" }}'
              public: false
              authorization_policy: 'grafana'
              require_pkce: true
              pkce_challenge_method: 'S256'
              redirect_uris:
                - 'https://grafana.${DOMAIN_0}/login/generic_oauth'
              scopes:
                - 'openid'
                - 'profile'
                - 'email'
                - 'groups'
              response_types:
                - 'code'
              grant_types:
                - 'authorization_code'
              access_token_signed_response_alg: 'none'
              userinfo_signed_response_alg: 'none'
              token_endpoint_auth_method: 'client_secret_basic'
            - client_id: 'romm' 
              client_name: 'RomM'
              claims_policy: 'romm' 
              client_secret:  '{{ secret "/config/secret/clients_romm_client_secret" }}'
              public: false
              authorization_policy: 'romm'
              grant_types:
                  - authorization_code
              redirect_uris:
                  - "https://romm.${DOMAIN_0}/api/oauth/openid"
              scopes:
                  - 'openid'
                  - 'email'
                  - 'profile'
              userinfo_signed_response_alg: 'none'
              token_endpoint_auth_method: 'client_secret_basic'
            - client_id: 'vaultwarden'
              client_name: 'Vaultwarden'
              claims_policy: 'vaultwarden'
              client_secret: '{{ secret "/config/secret/clients_vaultwarden_client_secret" }}'
              public: false
              authorization_policy: 'vaultwarden'
              require_pkce: true
              pkce_challenge_method: 'S256'
              redirect_uris:
                - 'https://vault.${DOMAIN_0}/identity/connect/oidc-signin'
              scopes:
                - 'email'
                - 'profile'
                - 'openid'
                - 'offline_access'
            - client_id: 'nextcloud'
              client_name: 'Nextcloud'
              client_secret: '{{ secret "/config/secret/clients_nextcloud_client_secret" }}'
              public: false
              require_pkce: true
              authorization_policy: 'nextcloud'
              pkce_challenge_method: 'S256'
              redirect_uris:
                - 'https://nextcloud.${DOMAIN_0}/apps/user_oidc/code'
              scopes:
                - 'openid'
                - 'profile'
                - 'email'
                - 'groups'
              response_types:
                - 'code'
              grant_types:
                - 'authorization_code'
              access_token_signed_response_alg: 'none'
              userinfo_signed_response_alg: 'none'
              token_endpoint_auth_method: 'client_secret_post'
            - client_id: immich
              client_name: Immich
              claims_policy: immich
              client_secret: '{{ secret "/config/secret/clients_immich_client_secret" }}'
              public: false
              authorization_policy: immich
              require_pkce: false
              redirect_uris:
                - 'https://immich.${DOMAIN_0}/auth/login'
                - 'https://immich.${DOMAIN_0}/user-settings'
                - 'app.immich:///oauth-callback'
              scopes:
                - 'openid'
                - 'profile'
                - 'email'
                - 'immich_scope'
              response_types:
                - 'code'
              grant_types:
                - 'authorization_code'
              id_token_signed_response_alg: 'RS256'
              userinfo_signed_response_alg: 'RS256'
              token_endpoint_auth_method: 'client_secret_post'