---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authelia
  namespace: authelia
spec:
  interval: 15m
  chart:
    spec:
      chart: authelia
      version: 29.2.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:
      minio:
          type: s3
          url: "http://${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-authelia"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Security"
            widget:
              enabled: false
        hosts:
          - host: auth.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    cnpg:
      main:
        mode: recovery
        cluster:
          singleNode: true
        backups:
          enabled: true
          credentials: minio
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: minio
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 10 0 * * *
      secrets:
        enabled: true
        type: secret
        objectName: authelia-oidc-secret
        expandObjectName: false
        mountPath: /config/secret
        readOnly: true

    workload:
      main:
        replicas: 1
        podSpec:
          containers:
            main:
              env:
                AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_KEY}
                AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${AUTHELIA_JWT_KEY}
                AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_ENCRYPTION_KEY}
    # secret:
    #   authelia-configfile:
    #     enabled: false

    authelia:
      server:
        buffers:
          read: 16384
          write: 16384
      theme: auto
      totp:
        issuer: ${DOMAIN_0}
      authentication_backend:
        ldap:
          address: ldap://lldap-ldap.lldap.svc.cluster.local:3890
          tls:
            server_name: lldap.${DOMAIN_1}
          base_dn: DC=${DN},DC=${DC}
          attributes:
            username: uid
          additional_users_dn: ou=people
          users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
          additional_groups_dn: ou=groups
          groups_filter: (member={dn})
          user: uid=admin,ou=people,dc=${DN},dc=${DC}
          password: ${LLDAP_PASSWORD}
      access_control:
        default_policy: 'deny'
        rules:
        - domain:
            - ${DOMAIN_0}
            - '*.${DOMAIN_0}'
          policy: one_factor #  TODO: change to two_factor
          subject:
            - 'group:lldap_admin'
        - domain:
            - "media.${DOMAIN_0}"
            - "nextcloud.${DOMAIN_0}"
          policy: one_factor
          subject: group:lldap_arr
        - domain:
            - "nextcloud.${DOMAIN_0}"
          policy: one_factor
          subject: group:lldap_nextcloud
      identity_providers:
        oidc:
          claims_policies:
            default:
              id_token: ['rat', 'groups', 'email', 'email_verified', 'alt_emails', 'preferred_username', 'name']
            romm:
              id_token: ['email', 'email_verified', 'alt_emails', 'preferred_username', 'name']            
            grafana:
              id_token: ['email', 'name', 'groups', 'preferred_username']            
            paperless:
              id_token: ['email', 'email_verified', 'alt_emails', 'preferred_username', 'name']            
          hmac_secret: {{ secret "/config/secret/hmac_secret" }}
          jwks:
            - key: |
                {{ secret "/config/secret/jwks_key.pem" | mindent 10 "|" | msquote }}
          authorization_policies:
            admin:
              default_policy: 'deny'
              rules:
                - policy: 'one_factor'
                  subject: 'group:lldap_admin'
            romm:
              default_policy: 'deny'
              rules:
                - policy: 'one_factor'
                  subject: 'group:lldap_admin'
                - policy: 'one_factor'
                  subject: 'group:lldap_romm'
            grafana:
              default_policy: 'deny'
              rules:
                - policy: 'one_factor'
                  subject: 'group:lldap_admin'
                - policy: 'one_factor'
                  subject: 'group:lldap_grafana'
            paperless:
              default_policy: 'deny'
              rules:
                - policy: 'one_factor'
                  subject: 'group:lldap_admin'
                - policy: 'one_factor'
                  subject: 'group:lldap_paperless'
          clients:
          - client_id: "romm" # read above for how generate
            client_name: "RomM" # will be displayed in Authelia to users
            client_secret:  {{ secret "/config/secret/clients_romm_client_secret" }}
            public: false
            authorization_policy: "romm" # or one_factor, depending on your needs
            grant_types:
                - authorization_code
            redirect_uris:
                - "https://romm.${DOMAIN_0}/api/oauth/openid"
            claims_policy: "romm"
            scopes:
                - "openid"
                - "email"
                - "profile"
            userinfo_signed_response_alg: "none"
            token_endpoint_auth_method: "client_secret_basic"
          - client_id: 'grafana'
            client_name: 'Grafana'
            client_secret: {{ secret "/config/secret/clients_grafana_client_secret" }}
            public: false
            authorization_policy: 'grafana'
            require_pkce: true
            pkce_challenge_method: 'S256'
            redirect_uris:
              - 'https://grafana.${DOMAIN_0}/login/generic_oauth'
            scopes:
              - 'openid'
              - 'profile'
              - 'groups'
              - 'email'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_basic'
            claims_policy: "grafana"
          - client_id: 'paperless'
            client_name: 'Paperless'
            client_secret: {{ secret "/config/secret/clients_paperless_client_secret" }}
            public: false
            authorization_policy: 'paperless'
            require_pkce: true
            pkce_challenge_method: 'S256'
            redirect_uris:
              - 'https://paperless.${DOMAIN_0}/accounts/oidc/authelia/login/callback/'
            scopes:
              - 'openid'
              - 'profile'
              - 'email'
              - 'groups'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_basic'          
      session:
        cookies:
          - domain: '${DOMAIN_0}'
            authelia_url: 'https://auth.${DOMAIN_0}'
            default_redirection_url: 'https://www.${DOMAIN_0}'
      regulation:
        find_time: 10m
        ban_time: 12h
      notifier:
        smtp:
          address: 'smtp://${SMTP_HOST}:587'
          username: ${SMTP_USER}
          password: ${SMTP_PASSWORD}
          sender: auth@${DOMAIN_0}
          startup_check_address: auth@${DOMAIN_0}
          disable_html_emails: true
          tls:
            server_name: ${SMTP_HOST}