---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: romm
  namespace: romm
spec:
  interval: 15m
  chart:
    spec:
      chart: romm
      version: 14.23.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
      minio:
          type: s3
          url: "http://${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-romm"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
    image:
      repository: ghcr.io/rommapp/romm
      pullPolicy: IfNotPresent
      tag: 4.4.1@sha256:b909e95d1aab88db9817be700183fda8d24094b3e7c28355ddbd066e2659fc8f
    romm:
      auth:
        user: "${ROMM_ADMIN_USER}"
        pass: "${ROMM_ADMIN_PASS}"
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                IGDB_CLIENT_ID: "${ROMM_CLIENT_ID}"
                IGDB_CLIENT_SECRET: "${ROMM_CLIENT_SECRET}"
                ROMM_AUTH_SECRET_KEY: "${ROMM_AUTH_SECRET_KEY}"
                DISABLE_EMULATOR_JS: false
                DISABLE_RUFFLE_RS: false
                OIDC_ENABLED: true
                OIDC_PROVIDER: authelia
                OIDC_CLIENT_ID: romm
                OIDC_CLIENT_SECRET: "${AUTHELIA_CLIENT_ROMM_SECRET}"
                OIDC_REDIRECT_URI: https://romm.${DOMAIN_0}/api/oauth/openid
                OIDC_SERVER_APPLICATION_URL: https://auth.${DOMAIN_0}

    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: romm.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          homepage:
            enabled: true
            group: "Games"
            widget:
              custom:
                username: "${ROMM_ADMIN_USER}"
                password: "${ROMM_ADMIN_PASS}"
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
      resources:
        volsync:
          - name: resources
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
      assets:
        volsync:
          - name: assets
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
      library:
        enabled: true
        type: nfs
        server: ${NAS_IP}
        path: ${ROMS_NFS}
        mountPath: /romm/library