apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  interval: 5m
  chart:
    spec:
      chart: vaultwarden
      version: 29.10.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    credentials:
      minio:
        type: s3
        url: "http://${S3_URL_MINIO}"
        bucket: "${S3_BUCKET}-vaultwarden"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          nginx:
            enabled: true
        hosts:
          - host: vault.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
      admin:
        enabled: true
        ingressClassName: external
        primary: false
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: '${IP_WHITELIST}'
        targetSelector:
          main: main
        integrations:
          nginx:
            enabled: true
            ipWhitelist: ["${IP_WHITELIST}"]
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "auth.${DOMAIN_0}"
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Security"
            widget:
              enbaled: false
        hosts:
          - host: vault.${DOMAIN_0}
            paths:
              - path: /admin
                pathType: Prefix
    persistence:
      data:
        volsync:
        - name: data
          type: restic
          credentials: minio
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 40 1 * * *
    cnpg:
      main:
        cluster:
          singleNode: true
        mode: recovery
        backups:
          enabled: true
          credentials: minio
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: minio
    vaultwarden:
      admin:
        enabled: true
        token: ${VAULTWARDEN_ADMIN_TOKEN}
        disableAdminToken: false
      allowSignups: true
      verifySignup: true
      requireEmail: true
      enableWebVault: true
      orgCreationUsers: all
      log:
        level: info
      push:
        enabled: true
        installationId: ${VAULTWARDEN_PUSH_ID}
        installationKey: ${VAULTWARDEN_PUSH_KEY}
      yubico:
        enabled: false
      smtp:
        enabled: true
        host: ${SMTP_HOST}
        from: vaultwarden@${DOMAIN_0}
        port: 587
        security: starttls
        user: ${SMTP_USER}
        password: ${SMTP_PASSWORD}
      icons:
        disableDownload: false

    workload:
      main:
        podSpec:
          containers:
            main:
              # advanced: false
              env:
                EXPERIMENTAL_CLIENT_FEATURE_FLAGS: autofill-overlay,autofill-v2
                SSO_ENABLED: true
                SSO_ONLY: true
                SSO_SIGNUPS_MATCH_EMAIL: true
                # SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION: Allow unknown email verification status (default false). Allowing this with SSO_SIGNUPS_MATCH_EMAIL open potential account takeover.
                SSO_AUTHORITY: https://auth.${DOMAIN_0}
                SSO_SCOPES: "email profile offline_access openid"
                # SSO_AUTHORIZE_EXTRA_PARAMS: ""
                SSO_PKCE: true
                # SSO_AUDIENCE_TRUSTED: Optional, Regex to trust additional audience for the IdToken (client_id is always trusted). Use single quote when writing the regex: '^$'.
                SSO_CLIENT_ID: vaultwarden
                SSO_CLIENT_SECRET: "${AUTHELIA_CLIENT_SECRET_VAULTWARDEN}"
                # SSO_MASTER_PASSWORD_POLICY: Optional Master password policy (enforceOnLogin is not supported).
                # SSO_AUTH_ONLY_NOT_SESSION: Enable to use SSO only for authentication not session lifecycle
                # SSO_CLIENT_CACHE_EXPIRATION: Cache calls to the discovery endpoint, duration in seconds, 0 to disable (default 0);
                # SSO_DEBUG_TOKENS: Log all tokens for easier debugging (default false, LOG_LEVEL=debug or LOG_LEVEL=info,vaultwarden::sso=debug